<div class="container-fluid">
    <div class="navbar navbar-inverse" style="margin-top: 10px;">
        <div class="navbar-inner">
            <div class="container-fluid">
                <div class="nav-collapse">
                    <nav class="nav">
                        <a style="margin-right: 20px" href="#info">Info</a>
                        {% if results.info.category == "file" %}
                            <a style="margin-right: 20px" href="#file">File</a>
                        {% elif results.info.category == "url" %}
                            <a style="margin-right: 20px" href="#url">URL</a>
                        {% endif %}
                        <a style="margin-right: 20px" href="#signatures">Signatures</a>
                        <a style="margin-right: 20px" href="#network">Network</a>
                        {% if results.info.category == "file" %}
                            <a style="margin-right: 20px" href="#static">Static</a>
                        {% endif %}
                        <a style="margin-right: 20px" href="#dropped">Dropped</a>
                        <a style="margin-right: 20px" href="#behavior">Behavior</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    {% block content %}{% endblock %}

    <footer class="footer">
        <p class="float-right"><a href="#">Back to top</a></p>
    </footer>
</div>
<script>
{% include "js/bootstrap.min.js" %}
{% include "js/functions.js" %}
</script>
